apiVersion: apps/v1
kind: Deployment
metadata:
  name: gibbon-traffic-manager
  namespace: default
  ownerReferences:
  - apiVersion: v1
    kind: Namespace
    name: default
    uid: ''
  - apiVersion: apps/v1
    kind: Deployment
    name: gibbon-traffic-manager
    uid: ''
spec:
  selector:
    matchLabels:
      app: gibbon-traffic-manager
      telepresence: manager
  template:
    metadata:
      labels:
        app: gibbon-traffic-manager
        engine: gibbon
        telepresence: manager
        engine/version: 0.0.1
    spec:
      containers:
      - name: gibbon-traffic-manager
        env:
        - name: AGENT_MOUNT_POLICIES
          value: '{"/tmp": "Local"}'
        - name: NOT_USED_NSS
          value: '["kube-system","kube-node-lease"]'
        securityContext:
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000
        volumeMounts: []
        workingDir: /app
      serviceAccount: gibbon-traffic-manager
      serviceAccountName: gibbon-traffic-manager
